body {
  height: 40rem;
  text-align: center; }

h1 {
  margin-top: 10rem;
  margin-bottom: 10rem; }

h2, h1, h5, label {
  font-weight: 300; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

a {
  text-decoration: none; }

button {
  border: 0.05rem solid #b9b9b9 !important; }

button:hover {
  -webkit-box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0.05rem solid #006eff !important; }

.filesTitle {
  margin-top: 3rem; }

.returnBtn, .nextBtn {
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem; }

.checkoutTitle {
  margin-top: 3rem !important;
  margin-bottom: 4rem !important; }

.checkout-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .checkout-flex section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 10rem;
    margin-left: 15rem;
    margin-top: -8rem; }

table {
  width: 150% !important; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25%; }
  .form input {
    outline: none; }
  .form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .form div div {
      margin-top: 2rem; }
    .form div .checkbox {
      margin-top: 2.2rem;
      margin-right: 1rem; }
  .form button {
    width: 50%;
    margin-top: 4rem; }

.recieveTitle {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important; }

.reciveTable {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem; }

pre {
  margin-left: 35rem; }

.StripeElement {
  background-color: white !important;
  padding: 8px 12px !important;
  border-radius: 4px !important;
  border: 1px solid transparent !important;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1 !important;
          box-shadow: 0 1px 3px 0 #e6ebf1 !important;
  -webkit-transition: box-shadow 150ms ease !important;
  -webkit-transition: -webkit-box-shadow 150ms ease !important;
  transition: -webkit-box-shadow 150ms ease !important;
  transition: box-shadow 150ms ease !important;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease !important; }

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df !important;
          box-shadow: 0 1px 3px 0 #cfd7df !important; }

.StripeElement--invalid {
  border-color: #fa755a !important; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }
