
body{
     height: 40rem;
     font-family: 'Open Sans', sans-serif;
     
}

.body-center{
    text-align: center;
}

h1{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

h2, h1, h5, label{
    font-weight: 300;
}

section{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


a{
    text-decoration: none; 
}

button{
    border: 0.05rem solid rgb(185, 185, 185) !important;
}

button:hover{
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    border:0.05rem solid  rgb(0, 110, 255) !important;

}

.checkout-input, .checkbox-input{
    width: 26rem;
    font-size: 1rem;
    outline: none;
    border-radius: 0.2rem;
    border: 0.05rem solid rgba(219, 219, 219, 0.1); 
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 300;
    padding: 0.7rem;
}

.checkout-input{
    box-shadow: 0.05rem 0.05rem 0.2rem rgba(233, 237, 243, 0.9);
}

.checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 2rem;
        div{
            margin-left: -24rem;
            margin-top: 0.2rem;
        }
}

.isbn{
    text-align: center;
    margin-top: 2rem;
}

::placeholder{
    color: rgb(185, 192, 207);
    opacity: 1;
}

.filesTitle{
    margin-top: 3rem;
}

.returnBtn, .nextBtn{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.checkoutTitle{
    margin-top: 5rem !important;
    margin-bottom: 4rem !important;
    text-align: center;
   
}

.checkout-flex{
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    


    section{
        display: flex; 
        flex-direction: column;
        margin-right: 20rem;
        margin-left: 0rem;
        margin-top: -10rem;
        font-size: 2rem;

        h5{
            font-weight: bold; 
        }
       
    }
}

table{
    width: 150% !important;
}



.recieveTitle{
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}

.reciveTable{
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

pre{
    margin-left: 35rem;
    
}

.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-element{
width: 25rem;
margin-bottom: 1rem;
}

#payment-form{
    display: flex;
    flex-direction: column;
}

.payment-button{
    width: 10rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
}
