
body{
     height: 40rem;
     text-align: center;
     
}

h1{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

h2, h1{
    font-weight: 300;
}

section{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


a{
    text-decoration: none; 
}

button{
    border: 0.05rem solid rgb(185, 185, 185) !important;
}

button:hover{
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);
    transition: 0.5s; 
}

.returnBtn{
    margin-top: 15rem;
}